
html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	display: flex;
}

body
{
	background: #EDEDED;
	font-family: 'Montserrat', sans-serif;
	align-self: center;
}

.wrapper
{
	width: 100%;
	text-align: center;
	align-self: center;
	margin: 3em;
}

.themeColor
{
	color: #35c699;
}

h2
{
	font-size: 2.8em;
	color: rgba(0, 0, 0, 0.8);;
	margin-bottom: 1em;
}

h3
{
	justify-self: right;
	margin-bottom: 1em;
	margin-top: 2em;
	padding-bottom: 1em;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	text-transform: uppercase;
	font-size: 1.3em;
	letter-spacing: 0.1em;
	color: rgba(0,0,0,0.6);
}

.byline
{
	letter-spacing: 0.15em;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.1em;
	color: #6F6F6F;
}

.byline2
{
	letter-spacing: 0.15em;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.5em;
	color: #6F6F6F;
}

.icon-container
{
	overflow: hidden;
	margin-top: 1.2em;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
}

.icon
{
	display: block;
	margin-bottom: 1em;
	font-size: 1.5em;
	color: rgba(0,0,0,0.6);
}

.box
{
	font-size: .9em;
	padding: 0em 1em 1em 1em;
	text-align: center;
}

.box a
{
	text-decoration: none;
}
